# Jekyll stuff
_site
.sass-cache
.jekyll-metadata

# Other stuff
package-lock.json

Cargo.lock

wasm/target/*
!wasm/target/wasm32-unknown-unknown/
wasm/target/wasm32-unknown-unknown/*
!wasm/target/wasm32-unknown-unknown/release/
wasm/target/wasm32-unknown-unknown/release/*
!wasm/target/wasm32-unknown-unknown/release/wasm.wasm
