package-lock.json

node_modules/*
!node_modules/xterm/
node_modules/xterm/*
!node_modules/xterm/dist/
node_modules/xterm/dist/*
!node_modules/xterm/dist/xterm.css
!node_modules/xterm/dist/xterm.js

Cargo.lock

insult-wasm/target/*
!insult-wasm/target/wasm32-unknown-unknown/
insult-wasm/target/wasm32-unknown-unknown/*
!insult-wasm/target/wasm32-unknown-unknown/release/
insult-wasm/target/wasm32-unknown-unknown/release/*
!insult-wasm/target/wasm32-unknown-unknown/release/insult_wasm.wasm

termplay-wasm/target/*
!termplay-wasm/target/wasm32-unknown-unknown/
termplay-wasm/target/wasm32-unknown-unknown/*
!termplay-wasm/target/wasm32-unknown-unknown/release/
termplay-wasm/target/wasm32-unknown-unknown/release/*
!termplay-wasm/target/wasm32-unknown-unknown/release/termplay_wasm.wasm

crappy-chess-minimax-wasm/target/*
!crappy-chess-minimax-wasm/target/wasm32-unknown-unknown/
crappy-chess-minimax-wasm/target/wasm32-unknown-unknown/*
!crappy-chess-minimax-wasm/target/wasm32-unknown-unknown/release/
crappy-chess-minimax-wasm/target/wasm32-unknown-unknown/release/*
!crappy-chess-minimax-wasm/target/wasm32-unknown-unknown/release/crappy_chess_minimax_wasm.wasm

lolcode-wasm/target/*
!lolcode-wasm/target/wasm32-unknown-unknown/
lolcode-wasm/target/wasm32-unknown-unknown/*
!lolcode-wasm/target/wasm32-unknown-unknown/release/
lolcode-wasm/target/wasm32-unknown-unknown/release/*
!lolcode-wasm/target/wasm32-unknown-unknown/release/crappy_chess_minimax_wasm.wasm
