package-lock.json

node_modules/*
!node_modules/xterm/
node_modules/xterm/*
!node_modules/xterm/dist/
node_modules/xterm/dist/*
!node_modules/xterm/dist/xterm.css
!node_modules/xterm/dist/xterm.js
!node_modules/ace-builds/
node_modules/ace-builds/*
!node_modules/ace-builds/src-min/
node_modules/ace-builds/src-min/*
!node_modules/ace-builds/src-min/ace.js
!node_modules/ace-builds/src-min/theme-terminal.js

Cargo.lock

wasm/target/*
!wasm/target/wasm32-unknown-unknown/
wasm/target/wasm32-unknown-unknown/*
!wasm/target/wasm32-unknown-unknown/release/
wasm/target/wasm32-unknown-unknown/release/*
!wasm/target/wasm32-unknown-unknown/release/wasm.wasm
