body {
    background: #080808;
    margin: 10px;
    color: white;
}
a {
    color: blue;
}
#controls {
    display: flex;
    line-height: 50px;
    margin-bottom: 10px;
}
#controls div {
    width: 100%;
    transition: 1s opacity, 1s width;
    height: 50px;
    padding: 0 10px;
}
#controls.disabled div {
    opacity: 0;
    width: 75%;
    pointer-events: none;
}
#controls::after {
    content: "Press Ctrl+C to exit process";
    width: 0;
    opacity: 0;
    transition: 1s width, 1s opacity;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    background: #d84615;
}
#controls.disabled::after {
    width: 100%;
    opacity: 1;
}
#termplay {
    background: #161616;
    border-radius: 10px 0 0 10px;
}
#insult {
    background: #ff6100;
}
#chess {
    background: #135e00;
    border-radius: 0 10px 10px 0;
}

@media screen and (max-device-width: 600px) {
    #controls {
        flex-direction: column;
    }
    #controls div {
        width: auto;
    }
}
