---
layout: default
---

<h2>GitHub repositories:</h2>
{% for repo in site.github.public_repositories %}
	{% unless repo.fork %}
		<div class="entry">
			<div class="title">
                <span>{{ repo.name }}</span>
                <br />
                <a href="{{ repo.html_url }}">
                    <i class="material-icons">file_download</i>
                    Visit
                </a>
			</div>

			<p class="desc">{{ repo.description }}</p>
		</div>
	{% endunless %}
{% endfor %}

<p style="background-color: black;padding: 10px;">
	The following software are old, closed source, useless, and even unsupported.<br />
	You may browse through or even download them, but they will most likely be bad quality.
</p>

<p><b>Here are a few programs/games I've created!</b></p>
{% for app in site.data.software %}
<div class="entry" data-hash="#{{ app.hash }}" id="download{{ forloop.index0 }}">
	<div class="title">
        <span>{{ app.title }}</span>
        <br />
		<a href="{{ app.url }}">
			<i class="material-icons">file_download</i>
			{% if app.type == "download" %}
				Download
			{% elsif app.type == "link" %}
				Visit
			{% endif %}
		</a>
	</div>

	<p class="desc">{{ app.desc }}</p>
</div>
{% endfor %}
<br />
<a href="https://sites.google.com/site/jD91mZM2/home/downloads">Older and completely useless poop</a>.<br />
