---
layout: default
---

<h2>GitHub repositories:</h2>
<ul>
{% for repo in site.github.public_repositories %}
	{% unless repo.fork %}
		<div class="entry">
			<div class="title">
				{{ repo.name }}
				<a href="{{ repo.html_url }}">
					<i class="material-icons">file_download</i>
					Visit
				</a>
			</div>

			<p class="desc">{{ repo.description }}</p>
		</div>
	{% endunless %}
{% endfor %}
</ul>

<p style="background-color: yellow;padding: 10px;">
	The following software are old, closed source, useless, and some even unsupported.<br />
	You may browse through or even download them, but they will most likely be bad quality.
</p>

<p><b>Here are a few programs/games I've created!</b></p>
{% for app in site.data.software %}
<div class="entry" data-hash="#{{ app.hash }}" id="download{{ forloop.index0 }}">
	<div class="title">
		{{ app.title }}
		<a href="{{ app.url }}">
			<i class="material-icons">file_download</i>
			{% if app.type == "download" %}
				Download
			{% elsif app.type == "link" %}
				Visit
			{% endif %}
		</a>

		<i class="material-icons right link">link</i>
		<span class="right copied">Copied!</span>
		{% unless app.supported %}
			<span class="right tooltip">
				<i class="material-icons" title="Unsupported">warning</i>
				<span class="tooltiptext">Project unsupported by developer</span>
			</span>
		{% endunless %}
	</div>

	<p class="desc">{{ app.desc }}</p>
</div>
{% endfor %}
<a href="https://sites.google.com/site/jD91mZM2/home/downloads">Older and completely useless poop</a>.<br />
<script src="/assets/js/software.js"></script>
