body{
    background: black;
    color: white;
    margin: 0 25%;
    padding: 0;
    text-align: center;
    
    line-height: 1.5;
}
h1:first-of-type{
    margin-top: 10%;
    font-size: 3em;
}
h1:nth-of-type(2){
    margin-bottom: 5%;
}
ul, ol{
    text-align: left;
}
code:not(.nocss){
    padding: 3px;
    background: #F2F2F2;
    color: black;
    border-radius: 2px;
}
a{
    color: blue;
}