body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

#title{
	vertical-align: middle;
}
#icon{
	border-radius: 50%;
	width: 64px;
	height: 64px;

	vertical-align: middle;

	margin: 10px;
}

#menu, #menuPlaceholder{
	height: 48px;
	width: 100%;
}

#menu{
	background: #005CBF;

	position: relative;
	top: 0;

	z-index: 1;
	white-space: nowrap;

	transition: opacity 0.3s, height 0.3s;
	overflow: hidden;

	display: flex;
	justify-content: space-around;
	align-items: center;

	margin: 0;
	padding: 0;

	box-shadow: inset 0 0 5px;
}
#menu.fixed{
	position: fixed;
	opacity: 0.5;
}
#menu li{
	list-style-type: none;
	vertical-align: middle;
}
#menu a{
	color: white;
	text-decoration: none;
	font-size: xx-large;
}
#menu a:hover{
	color: orange;
}

#contents{
	margin: 0 94px;
	position: relative;
}

#title{
	display: inline;
	margin: 20px;
}

#imgzoom{
	width: 0;
	height: 0;
	background: black;

	position: fixed;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	z-index: 2;
	overflow: hidden;

	transition: width 0.5s, height 0.5s;
}
#imgzoom img{
	width: auto;
	height: 90%;

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}
#imgzoom.visible{
	width: 90vw;
	height: 90vh;
}
.right{
	float: right;
}

#cookies{
	position: fixed;
	bottom: -100vh;
	left: 50%;
	transform: translateX(-50%);

	margin: 0;
	box-sizing: border-box;
	width: 50vw;
	height: 50vh;

	background: white;
	border: 2px solid red;

	z-index: 4;
	transition: bottom 1s, transform 1s;

	padding: 15px;

	overflow: auto;
}
#cookies.visible{
	bottom: 50%;
	transform: translate(-50%, 50%);
}
#cookies button{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#dim{
	position: fixed;
	width: 100vw;
	height: 100vh;

	top: 0;
	left: 0;

	background: rgba(0, 0, 0, 0);

	transition: background 1s;
	display: none;
	z-index: 3;
}
#dim.visible{
	background: rgba(0, 0, 0, 0.7);
}

.tooltip{
	position: relative;
}
.tooltip .tooltiptext{
	opacity: 0;
	transition: 0.1s opacity;

	background: black;
	position: absolute;
	top: 0;
	right: 120%;

	white-space: nowrap;
	padding: 5px;
	color: white;

	border-radius: 4px;
	pointer-events: none;
}
.tooltip .tooltiptext::after{
	content: "";
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid black;

	display: block;
	position: absolute;
	top: calc(50% - 5px);
	right: -5px;
}
.tooltip:hover .tooltiptext{
	opacity: 1;
}

@media only screen and (max-device-width: 480px){
	#contents{
		margin: 0 1%;
	}
	#menu{
		flex-direction: column;
	}
	#menu li{
		font-size: 24px;
		width: 100%;

		text-align: center;

		transition: opacity 0.2s, width 0.2s, height 0.2s;
	}
	#menu a:nth-child(2n){
		background: #00A6DE;
	}
	#menu, #menuPlaceholder{
		height: 230px;
	}
	#menu.fixed{
		height: 60px;
		flex-direction: row;
	}
	#menu.fixed li:not(.important){
		opacity: 0;
		width: 0;
		height: 0;
	}
	#menu.fixed li.important{
		display: inline;
		background: transparent;
	}
}
