body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background: #161616;
    color: #c4c4c4;
}

#title {
    vertical-align: middle;
}
#icon {
    border-radius: 50%;
    height: 64px;
    margin: 10px;
    vertical-align: middle;
    width: 64px;
}

#menu {
    align-items: center;
    background: #33373a;
    bottom: 0;
    box-shadow: 0 0 20px black, inset 0 0 50px black;
    display: flex;
    height: 48px;
    justify-content: space-around;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    transition: opacity 0.3s, height 0.3s;
    white-space: nowrap;
    width: 100%;
    z-index: 1;
}
#menu.hide {
    animation: 1s hide forwards;
    opacity: 0.5;
    transition: 1s opacity, 1s bottom;
}
#menu li {
    list-style-type: none;
    vertical-align: middle;
}
#menu a {
    color: white;
    font-size: xx-large;
    letter-spacing: 2px;
    text-decoration: none;
}
#menu a:hover {
    color: orange;
}
@keyframes hide {
    90% { bottom: 10px; }
    to  { bottom: -100vh; /* Don't have the height */ }
}

#contents {
    margin: 0 94px;
    position: relative;
}

#title {
    display: inline;
    margin: 20px;
}

#imgzoom {
    background: black;
    height: 0;
    left: 50%;
    overflow: hidden;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s;
    width: 0;
    z-index: 2;
}
#imgzoom img {
    height: 90%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}
#imgzoom.visible {
    height: 90vh;
    width: 90vw;
}
.right {
    float: right;
}

#cookies {
    background: inherit;
    border: 2px solid red;
    box-sizing: border-box;
    height: 50vh;
    left: 50%;
    margin: 0;
    opacity: 0;
    overflow: auto;
    padding: 15px;
    position: fixed;
    top: 50vh;
    transform: translateX(-50%);
    transition: 1s bottom, 1s opacity, 1s transform;
    width: 50vw;
    z-index: -1;
}
#cookies.visible {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}
#cookies button {
    margin: 10px 0;
}

#dim {
    background: rgba(0, 0, 0, 0);
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transition: background 1s;
    width: 100vw;
    z-index: 3;
}
#dim.visible {
    background: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-device-width: 480px) {
    #contents {
        margin: 0 1%;
    }
    #menu {
        flex-direction: column;
    }
    #menu li {
        font-size: 24px;
        text-align: center;
        transition: opacity 0.2s, width 0.2s, height 0.2s;
        width: 100%;
    }
    #menu a:nth-child(2n) {
        background: #00A6DE;
    }
    #menu {
        height: auto;
    }
    #cookies {
        width: 90vw;
    }
}
