.entry{
	border: 2px solid black;
	margin-bottom: 10px;
	margin-left: 40px;
}
.entry .title{
	border-bottom: 2px solid black;
	font-size: xx-large;

	margin: 20px;
}
.entry a, span{
	font-size: medium;
	vertical-align: middle;
}
.entry a{
	text-decoration: none;
	color: blue;
}
.entry p{
	margin-left: 20px;
}
.entry .link{
	cursor: pointer;
}

.entry.linked{
	animation: 3s linked;
}
@keyframes linked{
	from{
		border-color: yellow;
		background: yellow;
	}
	to{
		border-color: black;
		background: white;
	}
}

.copied{
	display: none;
	margin-right: 3px;
}
.copied.visible{
	position: relative;
	display: inline;
	animation: 0.5s copied forwards;
}
@keyframes copied{
	from{
		opacity: 1;
		bottom: 0;
	}
	to{
		opacity: 0;
		bottom: 10px;
	}
}
