.entry {
	border: 2px solid black;
	margin: 10px;
    width: 256px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
}
.entry .title {
	border-bottom: 2px solid black;
    padding-bottom: 10px;
	margin: 20px;
    overflow: inherit;
}
.entry .title span {
    word-break: break-all;
    white-space: nowrap;

	font-size: xx-large;
}
.entry a, span {
	font-size: medium;
	vertical-align: middle;
}
.entry a {
	text-decoration: none;
	color: orange;
}
.entry p {
	margin: 20px;
    overflow: inherit;
    text-overflow: inherit;
}
i.material-icons {
    font-size: 12px;
}
