.entry {
    border: 2px solid black;
    height: 160px;
    overflow: hidden;
    position: absolute;
    transition: .3s all;
    vertical-align: top;
    white-space: nowrap;
    width: 256px;
    word-break: break-all;
    opacity: .8;
}
.entry-wrapper {
    margin: 10px;
    display: inline-block;
    height: 160px;
    width: 256px;
}
.entry-wrapper:hover > .entry {
    width: 384px;
    height: 192px;
    z-index: 1;
    opacity: 1;
    box-shadow: 0 0 50px black;
}
.entry-wrapper:hover > .entry p {
    white-space: initial;
    word-break: initial;
}
.entry .title {
    border-bottom: 2px solid black;
    margin: 20px;
    overflow: inherit;
    padding-bottom: 10px;
}
.entry .title span {
    font-size: xx-large;
}
.entry a, span {
    font-size: medium;
    vertical-align: middle;
}
.entry a {
    text-decoration: none;
    color: orange;
}
.entry p {
    margin: 20px;
    overflow: inherit;
    text-overflow: ellipsis;
}
i.material-icons {
    font-size: 12px;
}
